# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Rust
target/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Databases
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
